<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
    link(rel='stylesheet', href='/static/phone.css', media='screen and (max-device-width: 1236px)')
</head>
<body>
    <nav id="navbar">
        <ul>
            <div>
                <img src="/static/logo3.png" alt="" id="logo">
            </div>
            <div id="lists">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Class Info</a></li>
                <li><a href="/contact">Contact us</a></li>
            </div>
        </ul>
    </nav>
    <section id="introsection">
        <div>Welcome to City Gym Body Builder </div>
        <div class="small">Eat Gym Sleep Repeat</div>
    </section>
    <section id="missionsection">
        <h3>Mission section</h3>
        <div class="Cards">
            <div class="card">
                <h4>Full time Gym</h4>
                <div id="Info">
                    <img src="/static/gym1.png" alt="">
                    <p>This is city's best gym club. Join today as soon as possible!</p>
                </div>    
            </div>
            <div class="card">
                <h4>Dembell Practise</h4>
                <div id="Info">
                    <img src="/static/gymlogo2.png" alt="">
                    <p>This is city's best gym club. Join today as soon as possible!</p>
                </div>
            </div>
            <div class="card">
                <h4>Jogging infinity</h4>
                <div id="Info">
                    <img src="/static/dumbell.png" alt="">
                    <p>This is city's best gym club. Join today as soon as possible!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsorsection">
        <h3>Our sponsorers</h3>
        <div id="sponsorlogos">
            <img src="/static/apple.png" alt="">
            <img src="/static/microsoft.png" alt="">
            <img src="/static/hp.png" alt="">
            <img src="/static/skype.png" alt="">
        </div>
    </section>
    <section id="footer">Copyright &copy; 2019 citygymbodybuilder.com | All rights reserved!</section>
    </div>
</body>
</html>